Create a short text for an podcast intro.
The podcast is from the company ShitOps.
The podcast is about solutions for technical problems the company had for their own or customer systems
The company does solution engineer and architecting for all hyped technologies like Artifical Intelligence,
Machine Learning, Blockchain, Kubernetes, Service Mesh and Quantum Computing.

Jobs offer can be viewed at https://shitops.de/carrer

Only write the intro, nothing else.
